{% extends "global/Page.html" %}
{% block content %}

<h2>Welcome to the Monopolist Boycott Game</h2>

<p>This experiment will consist of 20 rounds.</p>
<ul>
    <li>You are either a <strong>monopolist</strong> or a <strong>consumer</strong>.</li>
    <li>In each round, the monopolist sets a price.</li>
    <li>Consumers will decide whether to buy at that price.</li>
    <li>In some rounds, consumers can communicate using a chat box.</li>
    <li>In all rounds, your earnings depend on your role, the price, and the buying decision.</li>
</ul>

<p>Click "Next" to begin.</p>
{% next_button %}

{% endblock %}
