{% extends "global/Page.html" %}
{% block content %}

<h2>Additional Instructions</h2>

<p style="font-weight: bold; margin-bottom: 15px; margin-top: 20px;">We are switching over to a chat window opens for consumers only.  Consumers may use the chat function to communicate as well as see the monopolist price. This chat may not be used to:</p>
<li style="margin-bottom: 10px;">revealing real names or personal information</li>
<li style="margin-bottom: 10px;">threats or harassment</li>
<li style="margin-bottom: 30px;">discussing payments or exchange rates</li>

<p style="font-weight: bold; margin-bottom: 30px;">The monopolist cannot see the chat.  All chat content is logged for research purposes only.</p>

<p style="font-weight: bold; margin-bottom: 20px;">Original instructions still hold true</p>

<p>Click "Next" to begin.</p>
{% next_button %}

{% endblock %}
