{% extends "global/Page.html" %}
{% block content %}

<h2>Welcome to the Monopolist Boycott Game</h2>

<p style="font-weight: bold;">Today, you are participating in an economic decision‑making study in which a single monopolist sets prices and you as a consumer will decide whether to buy or not. The goal is to understand how consumers may (or may not) coordinate their choices when facing a seller with market power. <p>

</ul>
    <li>There will be a <strong>monopolist</strong> with <strong>5 consumers</strong>.</li>
    <li>In each round, the monopolist sets a price and consumers will decide whether to buy at that price.</li>
    <li>In all rounds, your earnings depend on your role, price, and buying decision.</li>
</ul>

<p style="font-weight: bold; margin-top: 30px;">For Consumers, the goal is to strategize in order to maximize your payoffs to retain more of your value. For reference, this is how to calculate your payoffs:</p>
<li style="margin-bottom: 30px;">Consumer Payoffs: (Your Value) - (Monopoly Price)</lie>


<p style="font-weight: bold; margin-top: 30px;">For the monopolist, your goal is to strategize in order to maximize your payoffs. For reference, this is how to calculate your payoff:</p>
<li style="margin-bottom: 30px;">Monopolist Payoff: Monopoly Price x Units Sold</li>

<p style="font-weight: bold; font-size: 20px;">Individually, the higher the payoff you have, the more money you'll win at the end of the session.</p>

<p>Please remain silent and do not use electronic devices other than the one provided.</p>

<p>Click "Next" to begin.</p>
{% next_button %}

{% endblock %}
