{% extends "global/Page.html" %}
{% block content %}

<h2>Welcome to the Monopolist Boycott Game</h2>

<p style="font-weight: bold;">Today, you are participating in an economic decision‑making study in which a single monopolist sets prices and a group of consumers decide whether to buy or not. The goal is to understand how consumers may (or may not) coordinate their choices when facing a seller with market power. <p>

</ul>
    <li>There will be a <strong>monopolist</strong> with <strong>5 consumers</strong>.</li>
    <li>In each round, the monopolist sets a price and Consumers will decide whether to buy at that price.</li>
    <li>In all rounds, your earnings depend on your role, the price, and the buying decision.</li>
</ul>

<p style="font-weight: bold; margin-top: 30px;">The goal is to strategize in order to maximize your payoffs, for reference, this is how to calculate them:</p>
<li style="margin-bottom: 10px;">Consumer Payoffs: (Your Value) - (Monopoly Price)</lie>
<li style="margin-bottom: 30px;">Monopolist Payoff: Monopoly Price x Units Sold</li>

<p style="font-weight: bold; font-size: 20px;">Individually, the higher the payoff you have, the more money you'll win at the end of the session.</p>

<p>Please remain silent and do not use electronic devices other than the one provided.</p>

<p>Click "Next" to begin.</p>
{% next_button %}

{% endblock %}
