{% extends "global/Page.html" %}
{% load otree %}
{% block content %}
<h3>Welcome to the Experiment</h3>
<p>You have been assigned the role of the <strong>{{ player.player_role }}</strong>.</p>

<p style="font-weight: bold; margin-top: 30px;">As the monopolist, your goal is to strategize in order to maximize your payoffs. For reference, this is how to calculate your payoff:</p>
<li style="margin-bottom: 20px;">Monopolist Payoff: Monopoly Price x Units Sold</li>

<p style="font-weight: bold; font-size: 15px; margin-top: 20px;">If you are able to keep consumers buying at your price, the more you'll earn at the end of the session.</p>

<p style="font-weight: bold;">Have fun!</p>

{% next_button %}
{% endblock %}
